@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/site.css" rel="stylesheet" type="text/css"/>

<h1>Dino Diner</h1>

<div><img src="~/images/banner.png" id="banner"/></div>
<div id="Link"><a asp-page="/Menu">Menu</a></div>
<div id="Link"><a asp-page="/About">About</a></div>
<div id="Link"><a asp-page="/Privacy">Privacy</a></div>