/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item p{
    margin-bottom: -10px;
}

#description {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 15px;
    color: green;
    font-size: 22px;
}

#banner{
    width: 400px;
    height: 200px;
}

#right_sidebar {
    float: right;
    margin-top: -35px;
    right: 0;
    width: 25%;
}

div#price_filter {
    padding-bottom: 10px;
}

div#exclude-ingredients {
    display: grid;
}

.menu_categories_filter {
    display: grid;
    padding: 10px 0;
}

table#combo-table,
table#combo-table td{
    border: 1px solid green;
    padding: 3px;
}
